<!DOCTYPE html>
<html>
  <head>
    <title>TheHiddenGreenV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= favicon_link_tag('hidden_green_icon') %>

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,900" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
